<!--<nav class="ui borderless inverted top fixed menu">
    <a href="{{ path('home') }}" class="header item">DRAMAAX - Serveur GTA RP</a>
    <div class="right menu">
        {# if auth.check() %}
            <div class="header item">{{ auth.user.username }}</div>
            <div class="item">
                <a href="{{ path('logout') }}" class="ui teal circular button">Logout</a>
            </div>
        {% else #}
        <div class="item">
            <a href="{{ path('login') }}" class="ui circular button">Login</a>
        </div>
        <div class="item">
            <a href="{{ path('home') }}" class="ui teal circular button">Register</a>
        </div>
        {# endif #}
    </div>
</nav>-->


<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item">Accueil</a>
    <a class="item">Boutique</a>
    <a class="item">Règles</a>
    <a class="item">Forum</a>
    <a class="item">Connexion</a>
    <a class="item">Inscription</a>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu no-border">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Accueil</a>
                <a class="item">Boutique</a>
                <a class="item">Règles</a>
                <a class="item">Forum</a>
                <div class="right item">
                    <a href='{{ path('authentication') }}' class="ui inverted button">Connexion</a>
                    <a href='{{ path('authentication') }}' class="ui orange inverted button">Inscription</a>
                </div>
            </div>
        </div>
